<h1>Strana#kontakt</h1>
<p>Find me in app/views/strana/kontakt.html.erb</p>
<table class="table table-striped table-hover">

  <tr>
    <th>Broj</th>
    <th>Ime</th>
    <th>Prezime</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Jana</td>
    <td>Jana</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jakov</td>
    <td>Jana</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Jovan </td>
    <td>Jana</td>
  </tr>
</table>
